<form class="needs-validation" [formGroup]="passConditionForm">
  <div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="../../assets/images/YCDLogo.png" alt="" width="172" height="172">
      <h2>Enter Pass Condition</h2>
      <p class="lead">Add pass condition information below:</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-5">
          <label for="date">Date</label>
          <div class="input-group">
            <input class="form-control" formControlName="date" placeholder="yyyy-mm-dd" name="dp"
                   [displayMonths]="displayMonths" [navigation]="navigation" [outsideDays]="outsideDays"
                   [showWeekNumbers]="showWeekNumbers" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-secondary" (click)="d.toggle()" type="button">Date</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="time">Time</label>
          <div class="input-group">
            <input type="text" class="form-control" formControlName="time" placeholder="Pass Condition Time">
            <div class="input-group-append">
              <button (click)="this.markTime()" class="btn btn-secondary">Mark</button>
            </div>
          </div>
          <div class="invalid-feedback">
            Time is required.
          </div>
        </div>
      </div>

      <label></label>

      <h4 class="mb-3">Information</h4>
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="minutes">Minutes</label>
          <div class="input-group">
            <input type="number" class="form-control" formControlName="minutes" placeholder="Minutes">
          </div>
          <div class="invalid-feedback">
            Minutes are required.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="usualMinutes">Usual Minutes</label>
          <div class="input-group">
            <input type="number" class="form-control" formControlName="usualMinutes" placeholder="Usual Minutes">
          </div>
          <div class="invalid-feedback">
            Usual Minutes are required.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="route">Route</label>
          <select class="custom-select d-block w-100" id="route" formControlName="route">
            <option *ngFor="let route of routes" [ngValue]="route">{{route.name}}</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid route.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="delayReason">Delay Reason</label>
          <select class="custom-select d-block w-100" formControlName="delayReasonName">
            <option *ngFor="let delayReason of delayReasons" [ngValue]="delayReason">
              {{delayReason.description}}
            </option>
          </select>
          <div class="invalid-feedback">
            Delay is required.
          </div>
        </div>
      </div>
      <hr class="mb-2">
      <div class="row">
        <div class="col-md-4 mb-3">
          <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="this.addPassCondition()">Add Pass Condition</button>
        </div>
      </div>
    </div>
    <alert></alert>
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2006-2021 YellowCaddis Development</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>
  <hr />
</form>
