<h1 id="tableLabel">Destinations</h1>

<p>The destinations for a commute.</p>

<p *ngIf="!entities"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="entities">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entity of entities">
      <td><a href="destination/{{ entity.id }}">{{ entity.id }}</a></td>
      <td>{{ entity.name }}</td>
      <td>{{ entity.notes }}</td>
    </tr>
  </tbody>
</table>
