<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../assets/images/YCDLogo.png" alt="" width="172" height="172">
    <h2 *ngIf="isList">List of Delay Reasons</h2>
    <h2 *ngIf="!isList">Delay Reason {{ entityName }}</h2>
    <p class="lead" *ngIf="isList">These are the delay reasons used in commutes and pass conditions:</p>
    <p class="lead" *ngIf="!isList">These are the details for Delay Reason {{ entityName }}:</p>
  </div>

  <p *ngIf="!entities"><em>Loading...</em></p>

  <button class="btn btn-primary" routerLink="/delayreasonadd" *ngIf="isList">Add New Delay Reason</button>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="entities">
    <thead>
      <tr>
        <th>Id</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entity of entities">
        <td><a href="delayreason/{{ entity.id }}">{{ entity.id }}</a></td>
        <td>{{ entity.name }}</td>
      </tr>
    </tbody>
  </table>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2006-2025 YellowCaddis Development</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
<hr class="footer" />